@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-color: theme('colors.primary.light');
  color: theme('colors.highlight.light');
}

.dark body {
  background-color: theme('colors.primary.dark');
  color: theme('colors.highlight.dark');
}
